@import url(//db.onlinewebfonts.com/c/69705a6994f3fbe63b0509655a754e19?family=Canela);
@font-face {font-family: "Canela"; src: url("//db.onlinewebfonts.com/t/69705a6994f3fbe63b0509655a754e19.eot"); src: url("//db.onlinewebfonts.com/t/69705a6994f3fbe63b0509655a754e19.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/69705a6994f3fbe63b0509655a754e19.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/69705a6994f3fbe63b0509655a754e19.woff") format("woff"), url("//db.onlinewebfonts.com/t/69705a6994f3fbe63b0509655a754e19.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/69705a6994f3fbe63b0509655a754e19.svg#Canela") format("svg"); }
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
